anyio==3.7.0
AnyQt==0.2.0
asttokens==2.2.1
attrs==23.1.0
backcall==0.2.0
baycomp==1.0.2
Bottleneck==1.3.7
CacheControl==0.12.11
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click8==8.0.1
clickclick==20.10.2
cmake==3.26.4
comm==0.1.3
commonmark==0.9.1
connexion==2.14.2
contourpy==1.1.0
cycler==0.11.0
debugpy==1.6.7
decorator==5.1.1
dictdiffer==0.9.0
distlib==0.3.6
docopt==0.6.2
docutils==0.20.1
et-xmlfile==1.1.0
exceptiongroup==1.1.1
executing==1.2.0
filelock==3.12.2
Flask==2.2.4
fonttools==4.40.0
gitdb==4.0.10
GitPython==3.1.31
h11==0.14.0
httpcore==0.17.2
httpx==0.24.1
idna==3.4
importlib-metadata==6.6.0
importlib-resources==5.12.0
inflection==0.5.1
ipykernel==6.23.1
ipython==8.12.2
ipython-genutils==0.2.0
itsdangerous==2.1.2
jaraco.classes==3.2.3
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
jupyter_client==8.2.0
jupyter_core==5.3.0
keyrings.alt==4.2.0
kiwisolver==1.4.4
lap==0.4.0
lit==16.0.6
lockfile==0.12.2
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
more-itertools==9.1.0
mpmath==1.3.0
msgpack==1.0.5
nest-asyncio==1.5.6
networkx==3.1
numpy==1.24.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
opencv-python==4.7.0.72
openpyxl==3.1.2
openTSNE==1.0.0
orange-canvas-core==0.1.31
orange-widget-base==4.21.0
Orange3==3.35.0
packaging==23.1
pandas==2.0.1
parso==0.8.3
pbr==5.11.1
pickleshare==0.7.5
Pillow==9.5.0
pipreqs==0.4.13
pkgutil_resolve_name==1.3.10
platformdirs==3.5.1
prompt-toolkit==3.0.38
psutil @ file:///opt/conda/conda-bld/psutil_1656431268089/work
pure-eval==0.2.2
pycparser==2.21
Pygments==2.15.1
PyMySQL==1.0.2
pyparsing==3.1.0
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
pyqtgraph==0.13.3
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pyrsistent==0.19.3
python-dateutil==2.8.2
python-louvain==0.16
pytz==2023.3
PyYAML @ file:///croot/pyyaml_1670514731622/work
pyzmq==25.1.0
qasync==0.24.0
qtconsole==5.4.3
QtPy==2.3.1
requests==2.31.0
scikit-learn==1.1.3
scipy==1.9.3
seaborn==0.12.2
serverfiles==0.3.1
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
soundfile==0.11.0
stack-data==0.6.2
swagger-ui-bundle==0.0.9
sympy==1.12
tabulate==0.9.0
testresources==2.0.1
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
torch==2.0.1
torchvision==0.15.2
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
triton==2.0.0
typing_extensions==4.6.2
tzdata==2023.3
ultralytics==8.0.121
urllib3==2.0.3
virtualenv==20.23.1
wcwidth==0.2.6
Werkzeug==2.2.3
xlrd==2.0.1
XlsxWriter==3.1.2
yarg==0.1.9
zipp==3.15.0
